.barra-principal {
    list-style: none;
    display: flex;
    justify-content: center;
}

.barra-principal li a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem;
    font-family: 'Titillium Web', sans-serif;
    color: #0c5036;
    text-shadow: 10px 1px 3px rgb(247, 247, 247);
}

nav {
    background-image: url(../img/nav00.jpg);
    padding: 1rem;
}

body {
    background-image: linear-gradient(to right,
    #47c714,
    #22c50d,
    #38cc25,
    #17882f,
    #159c4d,
    #114b66,
    #0a2350);
}

.efecto-boton {
    position: relative;
    margin: auto;
    padding: 15px 15px;
    transition: all 0.2s ease;
}

.efecto-boton:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    border-radius: 22px;
    background: #05b15250;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
}

.efecto-boton span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.efecto-boton svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.efecto-boton:hover:before {
    width: 100%;
    background: rgba(18, 99, 54, 0.5);
}

.efecto-boton:hover svg {
    transform: translateX(0);
}

.efecto-boton:active {
    transform: scale(0.96);
}

header {
    background-color: #67c495;
    padding: 1%;

}

h1 {
    font-size: 2rem;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-shadow: 5px 4px 3px rgba(0, 0, 0, 0.63);
}

/*Región del mapa iframe*/
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mapa {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}
/*Fin Región del mapa iframe*/
